<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-9">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Logout page</title>
	<header
		th:replace="fragments/header :: html_head">
	</header>
	<link rel="stylesheet" th:href="@{/css/login.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">

</head>

<body>
	<div class="container col-6 mx-auto text-center mt-5">
		<img th:src="@{/images/goodbye.gif}" alt="Goodbye_pig" class="mb-5">
		<div>
			<h4> You have successfully signed out. </h4>
			<p class="mb-5"> Sign in again to continue working on awesome things!</p>
			<a th:href="@{/}" class="btn btn-info w-50">
				Sign In Again>>>
			</a>
		</div>
	</div>

	<div th:replace="fragments/header :: jsLink"></div>

</body>

</html>