<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: html_head"></head>

<body>
	<div th:replace="fragments/header :: menu"></div>
	<div class="container">
		<form action="#" th:action="@{/lecturer/class-list/} + ${courseId} + '/' + ${course_batch_id}"
			method="get" th:object="${lecturerCourseStudentSearch}">
			<div class="row my-3">
				<div class="col-3 mr-1">
					<label for="Search">Search</label>
					<input type="text" class="form-control py-2" placeholder="Search by Student Name"
						th:field="*{keyword}">
				</div>
				<div class="col-3 mt-4">
					<button type="submit" class="btn btn-success btn-outline ">
						<i class="fa fa-search ml mr-2"></i>
						Search
					</button>
				</div>
			</div>
		</form>
		<div>
			<h1>Class List</h1>

		</div>
		<div>
			<!--<h2><span th:text="#{fieldLabel.courseName}"></span></h2>-->
			<th:block th:if="${nominalRoll=='NoData'}"> No Enrolment for this course </th:block>
			<th:block th:unless="${nominalRoll=='NoData'}">

				<table class="table table-stripped" th:object="${nominalRoll}">

					<tr>
						<th><span>Student Id</span></th>
						<th><span>Name</span></th>
						<th><span>Email</span></th>
						<th><span>View Performance</span></th>
						<th><span>Grade Student</span></th>
					</tr>

					<tr th:each="student : ${nominalRoll}">
						<td align="left" th:text="${student.studentId}"></td>
						<td align="left" th:text="${student.studentName}">Name</td>
						<td align="left" th:text="${student.studentEmail}">Email</td>
						<td align="left"><a th:href="@{/lecturer/student-performance}+'/'+${student.studentId}"
								class="btn btn-default">View
								Performance</a>
						</td>
						<td align-"left"><a
								th:href="@{/lecturer/student-performance/grading} + '/' + ${courseId} + '/' + ${student.courseBatchId} + '/' + ${student.studentId}">
								Grade Student</a></td>
					</tr>
				</table>

			</th:block>
		</div>
	</div>

	<div th:replace="fragments/header.html :: jsLink"></div>
</body>

</html>