<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/header :: html_head"></header>

<body>
	<div th:replace="fragments/header :: menu"></div>
	<div class="container mt-3">
		<form th:action="@{/lecturer/update-password}" method="post" th:object="${userChangePassword}">
			<div class="container border p-5 mt-3 bg-light rounded col-10">
				<h2 class="pl-3 mb-5"></h2>
				<div class="row">
				  	<div class="col">
						<label for="old-password" class="font-weight-bold">Old Password</label>
					</div>
					<div class="col">
						<input type="password" class="form-control" th:field="*{oldPassword}" id="old-password" placeholder="Enter old-password">
						<p th:if="${message != null}">
						   <span class="text-danger" th:text="${message}"></span>
					   </p>
					   <p class="text-danger" th:value="${oldPassword}" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></p>
					</div>
				</div>
				<div class="row my-3">
					<div class="col">
						<label for="exampleInputPassword1" class="font-weight-bold">New Password</label>
					</div>
					<div class="col">
						<input type="password" class="form-control" th:field="*{newPassword}" id="newpassword" placeholder="Enter new password">
						<p class="text-danger" th:value="${newPassword}" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>
					</div>
				</div>
				<div class="row my-3">
					<div class="col">
						<label for="exampleInputPassword1" class="font-weight-bold">Enter New Password Again</label>
					</div>
					<div class="col">
						<input type="password" class="form-control" id="confirmpassword" placeholder="Enter new password" oninput="check(this)">
					</div>
				</div>
				<div class="row mt-5 mb-3">
					<button type="reset" class="btn btn-danger ml-auto w-25">Reset</button>
					<button type="submit" class="btn btn-primary mx-auto w-25">Update Password</button>
				</div>
		  </form>

	</div>

	<div th:replace="fragments/header :: jsLink"></div>

	<script language='javascript' type='text/javascript'>
		function check(input) {
			if (input.value != document.getElementById('newpassword').value) {
				input.setCustomValidity('Password Must be Matching.');
			} else {
				// input is valid -- reset the error message
				input.setCustomValidity('');
			}
		}
	</script>
</body>

