<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: html_head"></head>

<body>
	<div th:replace="fragments/header :: menu"></div>
	<div>
		<h1>Grade Student</h1>

	</div>
	<br>
	<div style="justify-content: space-between;" th:object="${lecturerStudentGrading}">
		<div style="display: inline-block;justify-content: space-between;padding-right: 250px;">
			<label for="StudentName" style="font-weight: 500;"> Student Name: </label>
			<label th:text="${lecturerStudentGrading.studentName}" />
		</div>
		<div style="display: inline-block;justify-content: space-between;padding-right: 250px;">
			<label for="CourseName" style="font-weight: 500;"> Course Name: </label>
			<label th:text="${lecturerStudentGrading.courseName}" />
		</div>
		<div style="display: inline-block;justify-content: space-between;padding-right: 100px;">
			<label for="BatchNumber" style="font-weight: 500;"> Batch Number: </label>
			<label th:text="${lecturerStudentGrading.batchNumber}" />
		</div>
	</div>
	<br>
	<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
	<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
	<div>
		<form action="#"
			th:action="@{/lecturer/student-performance/updateGrading/}  + ${courseId} + '/' + ${courseBatchId} + '/' + ${student_id}"
			method="post">
			<label for="gpa">Grade Student:</label>
			<select id="gpa" name="gpa">
				<option th:each="lectrsGrades : ${T(team2.capSystem.helper.LectCourseGrades).values()}"
					th:value="${lectrsGrades.getGradeValue}" th:text="${lectrsGrades.getGradeName}"
					th:selected="${lectrsGrades.getGradeValue} eq ${gpa}"></option>
			</select>
			<input type="submit" value="Update Score" />
		</form>
	</div>
	<br>
	<div style="text-align: center;">
		<a th:href="@{/lecturer/class-list/} + ${courseId} + '/' + ${courseBatchId}">Back
			to list</a>
	</div>

	<div th:replace="fragments/header.html :: jsLink"></div>
</body>

</html>