<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/student-course.css}">
<head th:replace="fragments/header.html :: html_head"></head>

<body>
	<div th:replace="fragments/header :: menu"></div>
	<div class="container mt-5">

		<div th:replace="fragments/alerts :: alert"></div>
		<div>
			<th:block th:if="${nominalRoll=='NoData'}" class="border p-4 text-center"> No Enrolment for this course </th:block>
			<th:block th:unless="${nominalRoll=='NoData'}">
				<h1>Class List</h1>
				<div class="row">
					<div class="col">
						<h5 class="my-3">Number of Students Enrolled: <span th:text="${studCount}"></span></h5>
						<h5 class="my-3">Course Name: <span th:text="${courseName}"></span></h5>
					</div>
					<div class="col">
						<h5 class="my-3">Course Id: <span th:text="${courseId}"></span></h5>
						<h5 class="my-3">Course Batch: <span th:text="${course_batch_id}"></span></h5>
					</div>
				</div>
				
				
				<form action="#" th:action="@{/lecturer/class-list/} + ${courseId} + '/' + ${course_batch_id}"
					method="get" th:object="${lecturerCourseStudentSearch}">
					<div class="row my-3">
						<div class="col-3 mr-1">
							<label for="Search">Search</label>
							<input type="text" class="form-control py-2" placeholder="Search by Student Name"
								th:field="*{keyword}">
						</div>
						<div class="col-3 mt-4">
							<button type="submit" class="btn btn-success btn-outline search-button">
								<i class="fa fa-search ml mr-2"></i>
								Search
							</button>
						</div>
					</div>
				</form>
				<table class="table table-striped" th:object="${nominalRoll}">

					<tr>
						<th><span>Student Id</span></th>
						<th><span>Name</span></th>
						<th><span>Email</span></th>
						<th><span>View Performance</span></th>
						<th:block th:if="${courseOver=='courseOver'}">
							<th><span>Student Grade</span></th>
						</th:block>
						<th:block th:unless="${courseOver=='courseOver'}">
							<th><span>Grade Student</span></th>
						</th:block>

					</tr>

					<tr th:each="student : ${nominalRoll}">
						<td align="left" th:text="${student.studentId}"></td>
						<td align="left" th:text="${student.studentName}">Name</td>
						<td align="left" th:text="${student.studentEmail}">Email</td>
						<td align="left"><a th:href="@{/lecturer/student-performance}+'/'+${student.studentId}"
								class="btn btn-default">View
								Performance</a>
						</td>


						<th:block th:if="${courseOver=='courseOver' or courseOver=='courseNew'}">
							<td>
								<th:block th:if="${student.gpa >= 0}"><span th:text="${student.gpa}">Student
										Grade</span></th:block>
								<th:block th:if="${student.gpa < 0}">Not Graded</th:block>

							</td>
						</th:block>
						<th:block th:unless="${courseOver=='courseOver' or courseOver=='courseNew'}">
							<td align-"left"><a
									th:href="@{/lecturer/student-performance/grading} + '/' + ${courseId} + '/' + ${student.courseBatchId} + '/' + ${student.studentId}">
									Grade Student</a></td>
						</th:block>



					</tr>
				</table>

			</th:block>
		</div>
	</div>

	<!-- <div th:replace="fragments/header.html :: jsLink"></div> -->
</body>

</html>