<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: html_head"></head>

<body>
	<div th:replace="fragments/header :: menu"></div>
	<div>
		<h1>Grade Student</h1>

	</div>
	<div>
		<form action="#"
			th:action="@{/lecturer/student-performance/updateGrading/} + ${courseBatchId} + '/' + ${student_id}"
			method="post" th:object="${gradeStudent}">
			<label for="gpa">Grade Student:</label>
			<select name="gpa" th:value="*{gpa}">
				<option th:value="5.0">S</option>
				<option th:value="4.5">A+</option>
				<option th:value="4.0">A</option>
				<option th:value="3.5">B+</option>
				<option th:value="3.0">B</option>
				<option th:value="2.5">C+</option>
				<option th:value="2.0">C</option>
				<option th:value="1.5">D+</option>
				<option th:value="1.0">D</option>
				<option th:value="0.0">F</option>
			</select>
			<input type="submit">
		</form>
	</div>
	<div><a th:action="@{/course-enrolment/{courseId}/{course_batch_id}}">Back
			to list</a></div>

	<div th:replace="fragments/header.html :: jsLink"></div>
</body>

</html>