<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/student-course.css}">
<header th:replace="fragments/header :: html_head"></header>

<head>
	<title>Courses Taught</title>
</head>

<body>
	<header th:replace="fragments/header :: menu"></header>


	<div class="container mt-5">
		<h2>Completed Course</h2>

		<form action="#" th:action="@{/lecturer/course-taught}" method="get" th:object="${lecturerCourseStudentSearch}">
			<form th:action="@{/lecturer/course-taught}" method="get">
				<div class="row my-3">
					<div class="col-3 mr-1">
						<label for="Search">Search</label>
						<input type="text" class="form-control py-2" placeholder="Search by Course Name"
							th:field="*{keyword}">
					</div>
					<div class="col-3 mt-4">
						<button type="submit" class="btn btn-success btn-outline search-button">
							<i class="fa fa-search ml mr-2"></i>
							Search
						</button>
					</div>
				</div>
			</form>
			<br>
			<div th:insert="fragments/lecturer :: lecturerCourseTable"></div>

	</div>
	<div th:insert="fragments/header :: jsLink"></div>
</body>

</html>