<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<header th:replace="fragments/header :: html_head"></header>

<head>
	<title>Courses Taught</title>
</head>

<body>
	<header th:replace="fragments/header :: menu"></header>

	<div class="container">
		<div class="row mb-3 mt-5">
			<div class="col">
				<h2 class="row my-3 justify-content-start">Ongoing Courses</h2>
			</div>
			<div class="col">
				<div class="row my-3 justify-content-end">
					<div class="col-5 mr-1">
						<form action="#" th:action="@{/lecturer/course-ongoing}" method="get" th:object="${lecturerCourseStudentSearch}">
							<div class="row my-3 justify-content-end">
								<div class="input-group">
									<label for="Search"></label>
									<input type="text" class="form-control py-2" placeholder="Search Course Name"
										th:field="*{keyword}">
									<button type="submit" class="btn btn-success btn-outline search-button">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div th:insert="fragments/lecturer :: lecturerCourseTable"></div>
	</div>
	<div th:replace="fragments/header :: jsLink"></div>
</body>

</html>