<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/header :: html_head"></header>


<head>
	<title>Lecturer</title>
</head>

<body>
	<div th:replace="fragments/header :: menu"></div>


	<div class="container">
		<div class="container" style="height: 900px;">
			<h2 class="my-3 mb-2">Welcome<span class="navbar-text mx-3"
				th:utext="${session.userSessionDetails.user.username}"></span></h2>
			<div class="row align-items-start">
				<div class="col-12 col-md m-1 card-data">
					<div body outline color="secondary" class="h-75 card border border-secondary">
						<img class="card-img-top" th:src="@{/images/upcoming-courses.jpg}" alt="My Courses" height="300">
						<div class="card-body">
							<h5 class="card-title text-center">Upcoming Courses</h5>
							<p class="card-text text-wrap card-data-text">
								This is Upcoming Courses
							</p>
							<a th:href="@{/lecturer/course-upcoming}" class="btn btn-primary w-100">Click here!</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md m-1 card-data">
					<div class="h-75 border border-secondary card">
						<img class="card-img-top" th:src="@{/images/studyingpig.jpg}" alt="Enroll Course" height="300">
						<div class="card-body">
							<h5 class="card-title text-center">Ongoing Cources</h5>
							<p class="card-text text-wrap card-data-text">
								This is Ongoing Courses
							</p>
							<a th:href="@{/lecturer/course-ongoing}" class="btn btn-primary w-100">Click here!</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md m-1 card-data">
					<div class="h-75 border border-secondary card">
						<img class="card-img-top" th:src="@{/images/profile.jpg}" alt="My Profile" height="300">
						<div class="card-body">
							<h5 class="card-title text-center">Completed Courses</h5>
							<p class="card-text text-wrap card-data-text">
								This is Completed Courses.
							</p>
							<a th:href="@{/lecturer/course-taught}" class="btn btn-primary w-100">Click here!</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md m-1 card-data">
					<div class="h-75 border border-secondary card">
						<img class="card-img-top" th:src="@{/images/profile.jpg}" alt="My Profile" height="300">
						<div class="card-body">
							<h5 class="card-title text-center">My Profile</h5>
							<p class="card-text text-wrap card-data-text">
								This is My Profile
							</p>
							<a th:href="@{/lecturer/profile}" class="btn btn-primary w-100">Click here!</a>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div th:replace="fragments/header :: jsLink"></div>
</body>

</html>Ï