<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/header :: html_head"></header>

<body>
	<div th:replace="fragments/header :: menu"></div>
	<div class="container mt-3">
		<div class="row mb-5 d-flex justify-content-between">
            <h3>Change password</h3>
			<form th:action="@{/student/editProfile}" method="get">
				<button type="submit" class="btn btn-primary">Edit Profile</button>
			</form>
        </div>

		<form th:action="@{/student/change-password}" method="post" th:object="${userChangePassword}">
			<div class="form-group">
			  <label for="old-password">Old Password</label>
			  <input type="password" class="form-control" th:field="*{oldPassword}" id="old-password" placeholder="old-password">
			</div>
			<div class="form-group">
			  <label for="exampleInputPassword1">New Password</label>
			  <input type="password" class="form-control" th:field="*{newPassword}" id="newpassword" placeholder="Enter new password">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Enter New Password Again</label>
				<input type="password" class="form-control" id="confirmpassword" placeholder="Enter new password" oninput="check(this)">
				<!-- <p id="errormsg"></p> -->
			  </div>
			
			<button type="submit" class="btn btn-primary">Submit</button>
		  </form>

	</div>

	<div th:replace="fragments/header :: jsLink"></div>

	<script language='javascript' type='text/javascript'>
		function check(input) {
			if (input.value != document.getElementById('newpassword').value) {
				input.setCustomValidity('Password Must be Matching.');
			} else {
				// input is valid -- reset the error message
				input.setCustomValidity('');
			}
		}
	</script>
</body>

