<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/student-course.css}">
<header th:replace="fragments/header :: html_head"></header>
<body>
	<div th:replace="fragments/header :: menu"></div>
	<div class="container">
		<div class="row mb-3 mt-5">
			<div class="col" th:object="${currStudent}">
				<h2 ><strong>Welcome <span th:text ="${currStudent.name}"></span></strong></h2>
				<h5>Average GPA: <span th:text="${avgGPA}"></span></h5>
			</div>
			<div class="col">
				<form>
					<div class="row my-3 justify-content-end">
						<div class="col-5 mr-1">
						<form action="#" th:action="@{/student/course-history/}" method="get" th:object="${courseDetailSearchQuery}">
							<label for="course-search">Course Name/Description</label>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search" th:field="*{keyword}">
								<input type="hidden" th:field="*{startDate}">
								<input type="hidden" th:field="*{endDate}">
								<button action="submit" class="btn btn-outline-primary">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
		<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
		<div>
			<h5 class="mb-3 mt-5">Currently enrolled</h5>
			<table class="table mb-5 table-hover" th:object="${studCourse}" >
				<tr>
					<th>Course Name</th>
					<th>Course Description</th>
					<th> show Details </th>
					<th>Unenroll</th>

				</tr>
				<tr th:if="${studCourse.empty}">
					<td colspan="4" class="p-4 border">No Courses listed!!!</td>
				</tr>

				<tr th:each="sc: ${studCourse}">
					<td th:text="${sc.course.course.name}">Course Name</td>
					<td th:text="${sc.course.course.description}">Course Description</td>
					<td>
						<a class="btn btn-info" th:href="@{/student/view-classlist/{id}(id = ${sc.course.id})}">View Class</a>
					</td>
					<td>
						<form action="#" th:action="@{/student/unenrollCourse/}" method="post">
							<input type="hidden" th:value="${sc.course.id}" name="cdId">
							<button type="submit" class="btn btn-primary">
								Unenroll
							</button>
						</form>
					</td>
				</tr>
			</table>
		</div>

		<div>
			<h5 class="mb-3">Past courses</h5>
			<table class="table  table-hover" th:object="${studCourse}" >
				<tr>
					<th>Course Name</th>
					<th>Course Description</th>
					<th>Grade</th>
					<th>Details</th>
				</tr>
				<tr th:if="${studHist.empty}">
					<td colspan="4" class="p-4 border">No Student History listed!!!</td>
				</tr>

				<tr th:each="sh: ${studHist}">
					<td th:text="${sh.course.course.name}">Course Name</td>
					<td th:text="${sh.course.course.description}">Course Description</td>
					<td th:text="${sh.gpa}">Grade</td>
					<td><a class="btn btn-info" th:href="@{/student/view-classlist/{id}(id = ${sh.course.id})}">View Class</a></td>
				</tr>
			</table>
		</div>
	</div>
	<div th:replace="fragments/header :: jsLink"></div>

	<script lang="javascript">
	function postUrl(){
		var action_src = "http://localhost/test/" + document.getElementsByName("keywords")[0].value;
		var your_form = document.getElementById('your_form');
		your_form.action = action_src ;
	}
</script>
</body>

</html>