<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/header :: html_head"></header>
<body>
	<div th:replace="fragments/header :: menu"></div>
	<div class="container">
		<form>
			<div class="row my-3">
				<div class="col-3 mr-1">
					<label for="startDate">Course Name/Description</label>
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<div class="col-3 mt-4">
					<button type="submit" class="btn btn-success btn-outline ">
						<i class="fa fa-search ml mr-2"></i>
						Search
					</button>
				</div>
			</div>
		</form>



		<h3>Student Course</h3>
		<h4>Current Grade= <span th:text="${avgGPA}"></span></h4>
		<div>
			<h5>Currently enrolled</h5>
			<table class="table table-striped" th:object="${studCourse}" >
				<tr>
					<th>Course Name</th>
					<th>Course Description</th>
					<th>Grade</th>
				</tr>
				<tr th:if="${studCourse.empty}">
					<td colspan="4" class="p-4 border">No Courses listed!!!</td>
				</tr>

				<tr th:each="sc: ${studCourse}">
					<td th:text="${sc.course.course.name}">Course Name</td>
					<td th:text="${sc.course.course.description}">Course Description</td>
					<td></td>
				</tr>
			</table>
		</div>

		<div>
			<h5>Past courses</h5>
			<table class="table table-striped" th:object="${studHist}" >
				<tr>
					<th>Course Name</th>
					<th>Course Description</th>
					<th>Grade</th>
				</tr>
				<tr th:if="${studHist.empty}">
					<td colspan="4" class="p-4 border">No Student History listed!!!</td>
				</tr>

				<tr th:each="sh: ${studHist}">
					<td th:text="${sh.course.course.name}">Course Name</td>
					<td th:text="${sh.course.course.description}">Course Description</td>
					<td th:text="${sh.gpa}">Grade</td>
				</tr>
			</table>
		</div>
	</div>
	<div th:replace="fragments/header :: jsLink"></div>
</body>

</html>