<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/header :: html_head"></header>

<body>
	<div th:replace="fragments/header :: menu"></div>
	<div class="container">
        <div class="row">
            <div class="col">
                <h3>My Profile</h3>
            </div>
            <div class="col">
                <a href="#">Edit Profile</a>
            </div>
        </div>
		
		<div>
			<table class="table table-striped" th:object="${student}">
				<tr>
					<th>Student Name</th>
					
					<th>username</th>
                    <th>password</th>
				</tr>
				<tr>
					<th>Email</th>
					<td th:text="${student.email}">Email</td>
				</tr>
				<tr>
					<td th:text="${student.name}">Name</td>
					
					<td th:text="${student.username}">Username</td>
					<td th:text="${student.password}">Password</td>
					<td>
				</tr>
			</table>
		</div>

	</div>

	<div th:replace="fragments/header :: jsLink"></div>
</body>