<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/header :: html_head"></header>

<body>
	<div th:replace="fragments/header :: menu"></div>
	<div class="container">
		<h3 class="mt-5">Enroll in a Course</h3>
		<form class="align-bottom" action="#" th:action="@{/student/enroll}" method="get" th:object="${courseDetailSearchQuery}">
			<div class="row my-3">
				<div class="col-3">
					<label for="Search">Search</label>
					<input type="text" class="form-control py-2 search-input" placeholder="Search" th:field="*{keyword}">
				</div>
				<div class="col-3">
					<label for="startDate">Start Date</label>
					<input type="date" class="form-control" th:field="*{startDate}">
				</div>
				<div class="col-3">
					<label for="startDate">End Date</label>
					<input type="date" class="form-control" th:field="*{endDate}">
				</div>
				<div class="col-3 mt-4">
					<button type="submit" class="btn btn-outline-success search-btn-for-course">
                        <i class="fa fa-search ml mr-2"></i>
                        Search
                	</button>
				</div>
			</div>
		</form>
		<!-- <div class="alert alert-primary" role="alert" th:id = "success" th:text="${success}" th:if="${success}"></div>
		<div class="alert alert-danger" role="alert" th:id = "error" th:text="${error}" th:if="${error}"></div> -->
		<div th:replace="fragments/alerts :: alert"></div>
		<div>
			<table class="table table-striped" th:object="${enrollCourses}">
				<tr>
					<th>Course Name</th>
					<th>Course Description</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Class size</th>
					<th> </th>
				</tr>
				<tr th:if="${enrollCourses.empty}">
					<td colspan="6" class="p-4 border">No Course Available!!!</td>
				</tr>
				<tr th:each="ac: ${enrollCourses}">
					<td th:text="${ac.course.name}">Course Name</td>
					<td th:text="${ac.course.description}">Course Description</td>
					<td th:text="${#temporals.format(ac.startDate,'dd-MM-yyyy')}">Course Start Date</td>
					<td th:text="${#temporals.format(ac.endDate,'dd-MM-yyyy')}">Course End Date</td>
					<td th:text="${ac.getSize()} + '/' + ${ac.maxSize}">Class size</td>

					<td>
						<form action="#" th:action="@{/student/enrollCourse/}" method="post">
							<input type="hidden" th:value="${ac.id}" name="cdId">
							<button type="submit" class="btn btn-primary">
								Enroll
							</button>
						</form>
					</td>
				</tr>
			</table>
		</div>

	</div>
	<!-- <div th:replace="fragments/header :: jsLink"></div> -->

</body>