<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/header :: html_head"></header>

<body>
	<div th:replace="fragments/header :: menu"></div>
	<div class="container mt-3">
		<h3 class="ml-3">Update Profile</h3>
		
		<div>
			<form th:action="@{/student/updatedProfile}" th:object="${student}" method="post">
			<div class="container border p-5 mt-3 bg-light rounded col-10">
				<div class="row">
					<input type="hidden" th:field="*{studentId}" th:value="${studentId}"/>
					<input type="hidden" th:field="*{password}" th:value="${password}"/>
				  	<div class="col">
						<label for="studentName" class="font-weight-bold">Student Name</label>
					</div>
					<div class="col">
						<input type="text" class="form-control" placeholder="Enter Name" th:field="*{name}" th:value="${name}"/>
						<p class="text-danger" th:text="${nameErrorMessage}"></p>
						<p class="text-danger" th:value="${name}" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
					</div>
				</div>
				<div class="row my-3">
					<div class="col">
						<label for="email" class="font-weight-bold">Email</label>
					</div>
					<div class="col">
						<input type="text" class="form-control" placeholder="Enter Email" th:field="*{email}" th:value="${email}"/>
						<p class="text-danger" th:text="${emailErrorMessage}"></p>
						<p class="text-danger" th:value="${email}" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
					</div>
				</div>
				<div class="row my-3">
					<div class="col">
						<label for="userName" class="font-weight-bold">UserName</label>
					</div>
					<div class="col">
						<input type="text" th:field="*{username}" th:value="${username}" readonly class="border-0 bg-light"/>
					</div>
				</div>
				<div class="row mt-5 mb-3">
					<button type="reset" class="btn btn-danger w-25 mx-auto">Reset</button>
					<a th:href="@{/student/change-password}" class="btn btn-primary w-25 mx-auto">Update Password</a>
					<button type="submit" class="btn btn-info w-25 mx-auto">Update</button>
				</div>
				
			</div>
		</form>
		</div>
	</div>

	<div th:replace="fragments/header :: jsLink"></div>
</body>