<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/header :: html_head"></header>

<body>
	<div th:replace="fragments/header :: menu"></div>
	<div class="container">
		<h3>Enroll in a Course</h3>
		<form action="#" th:action="@{/student/enroll}" method="get">
			<div class="row my-3">
				<div class="col-3 mr-1">
					<label for="Search">Search</label>
					<input type="text" class="form-control py-2" placeholder="Search" th:value="${keyword}" name="keyword">
				</div>
				<div class="col-3 mr-1">
					<label for="startDate">Start Date</label>
					<input type="date" class="form-control" th:value="${startDate}" name="startDate">
				</div>
				<div class="col-3 mr-1">
					<label for="startDate">End Date</label>
					<input type="date" class="form-control" th:value="${endDate}" name="endDate">
				</div>
				<div class="col-3 mt-4">
					<button type="submit" class="btn btn-success btn-outline ">
                        <i class="fa fa-search ml mr-2"></i>
                        Search
                </button>
				</div>
			</div>
		</form>
		<div>
			<table class="table table-striped" th:object="${enrollCourses}">
				<tr>
					<th>Course Name</th>
					<th>Course Description</th>
					<th>Start Date</th>
					<th>End Date</thead>
				</tr>
				<tr th:if="${enrollCourses.empty}">
					<td colspan="4" class="p-4 border">No Course Available!!!</td>
				</tr>
				<tr th:each="ac: ${enrollCourses}">
					<td th:text="${ac.course.name}">Course Name</td>
					<td th:text="${ac.course.description}">Course Description</td>
					<td th:text="${ac.startDate}">Course Start Date</td>
					<td th:text="${ac.endDate}">Course End Date</td>
					<!-- <td>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
							Enroll
						</button>
					</td> -->
					<td>
						<form action="#" th:action="@{/student/enrollCourse/}" method="post">
							<input type="hidden" th:value="${ac.id}" name="cdId">
							<button type="submit" class="btn btn-primary">
								Enroll
							</button>
						</form>
					</td>
				</tr>
			</table>
		</div>

		<!-- Modal -->
		<form action="#" th:action="@{/enrollCourse/}" th:object="${CourseDetail}" method="post">
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							...
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>

	<div th:replace="fragments/header :: jsLink"></div>
</body>