<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/header :: html_head"></header>

<body>
	<div th:replace="fragments/header :: menu"></div>
	<div class="container mt-3">
		<div class="row mb-5">
            <h3>My Profile</h3>
			<form th:action="@{/student/editProfile}" method="get">
				<div class="d-flex justify-content-end">
					<button type="btn btn-primary">Edit Profile</button>
				</div>
			</form>
        </div>

		
		<div>
			<table class="table table-striped" th:object="${student}">
				<tr>
					<th>Student Name</th>
					<td th:text="${student.name}"></td>
				</tr>
				<tr>
					<th>Email</th>
					<td th:text="${student.email}">Email</td>
				</tr>
				<tr>
					<th>UserName</th>
					<td th:text="${student.username}">Name</td>
				</tr>
			</table>
		</div>

	</div>

	<div th:replace="fragments/header :: jsLink"></div>
</body>