<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/header :: html_head"></header>

<body>
	<div th:replace="fragments/header :: menu"></div>
	<div class="container mt-3">
		<div class="row mb-5">
            <h3>Update Profile</h3>
        </div>

		
		<div>
		<form th:action="@{/student/updatedProfile}" th:object="${student}" method="post">
			<table class="table table-striped">
				<tr>
				<input type="hidden" th:field="*{studentId}" th:value="${studentId}"/>
				<input type="hidden" th:field="*{password}" th:value="${password}"/>
					<th>Student Name</th>
					<td>
					<input type="text" th:field="*{name}" th:value="${name}"/>
					</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>
					<input type="text" th:field="*{email}" th:value="${email}"/>
					</td>
				</tr>
				<tr>
					<th>UserName</th>
					<td>
					<input type="text" th:field="*{username}" th:value="${username}"/>
					</td>
				</tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-outline-primary">Update</button>
                        <button type="reset" class="btn btn-outline-danger">Reset</button>
                    </td>
                </tr>
			</table>
		</form>
		</div>

	</div>

	<div th:replace="fragments/header :: jsLink"></div>
</body>